body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 2rem;
}

#form {
    margin-top: 2rem;
    text-align: center;
}

form label {
    font-size: 1rem;
    margin-right: 1rem;
}

form input[type="date"] {
    font-size: 1rem;
    padding: 0.5rem;
    border-radius: 4px;
    border: 1px solid #ccc;
}

form button {
    font-size: 1rem;
    padding: 0.5rem 1rem;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s;
}

form button:hover {
    background-color: #555;
}

footer {
    text-align: center;
    background-color: #333;
    color: #fff;
    padding: 1rem 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

/* Estilo base para el contenedor de la luna */
#moon {
    position: absolute;
    top: 15%;
    right: 50%;
    transform: translateX(50%);
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background: #CCC;
    box-shadow: inset -25px 0px 0 0px #999; /* Fase por defecto, Luna Nueva */
    z-index: 5;
    animation: moonAnimation 3s infinite;
}

/* Estilos para las fases lunares */
#moon.phase-0 {
    box-shadow: inset -25px 0px 0 0px #999; /* Luna Nueva */
}

#moon.phase-1 {
    box-shadow: inset -75px 0px 0 0px #999; /* Luna Creciente */
}

#moon.phase-2 {
    box-shadow: inset -125px 0px 0 0px #999; /* Cuarto Creciente */
}

#moon.phase-3 {
    box-shadow: inset -175px 0px 0 0px #999; /* Gibosa Creciente */
}

#moon.phase-4 {
    box-shadow: inset -200px 0px 0 0px #999; /* Luna Llena */
}

#moon.phase-5 {
    box-shadow: inset -175px 0px 0 0px #999; /* Gibosa Menguante */
}

#moon.phase-6 {
    box-shadow: inset -125px 0px 0 0px #999; /* Cuarto Menguante */
}

#moon.phase-7 {
    box-shadow: inset -75px 0px 0 0px #999; /* Luna Menguante */
}

/* Animación para la luna */
@keyframes moonAnimation {
    0% {
        box-shadow: 0px 0px 100px #FFF;
    }
    50% {
        box-shadow: 0px 0px 140px #FFF;
    }
    100% {
        box-shadow: 0px 0px 100px #FFF;
    }
}

/* Estilos para el nombre de la fase lunar */
#moon-phase-name {
    text-align: center;
    font-size: 20px;
    margin-top: 20px;
}

