/* styles.css */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #000;
    margin: 0;
    color: #fff;
    font-family: Arial, sans-serif;
}

.container {
    text-align: center;
}

#moon, #moonFase {
    position: absolute;
    top: 30%;
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

#moon {
    background: #CCC;
    box-shadow: 0px 0px 100px #FFFF8C;
    z-index: 5;
}

#moonFase {
    background: rgba(153, 153, 153, 0);
    z-index: 6;
}

form {
    margin-top: 250px;
}
